exclude: '^docs/conf.py'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
    args: ['--maxkb=10000']
  - id: check-ast
  - id: check-json
    exclude: ^\.devcontainer/devcontainer\.json$
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: mixed-line-ending
    args: ['--fix=auto']  # replace 'auto' with 'lf' to enforce Linux/Mac line endings or 'crlf' for Windows

# If you want to automatically "modernize" your Python code:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.9.0
  hooks:
  - id: pyupgrade
    args: ['--py37-plus']
    exclude: ^tests/generated_scripts/

# # If you want to avoid flake8 errors due to unused vars or imports:
# Failing due to
# - repo: https://github.com/PyCQA/autoflake
#   rev: v2.3.0
#   hooks:
#   - id: autoflake
#     args: [
#       --in-place,
#       --remove-all-unused-imports,
#       # --remove-unused-variables,
#     ]

- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 24.4.0
  hooks:
  - id: black
    exclude: ^tests/generated_scripts/
    language_version: python3

- repo: https://github.com/psf/black
  rev: 24.4.0
  hooks:
  - id: black
    exclude: ^(?!tests/generated_scripts/).* # any string that does not start with tests/generated_scripts/
    language_version: python3
    args: ['--line-length=92'] # to account for the 4 space indent when using `def test():`

# If like to embrace black styles even in the docs:
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black]
    exclude: ^reports/copilot-chat/


- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    exclude: ^tests/generated_scripts/
  ## You can add flake8 plugins via `additional_dependencies`:
  #  additional_dependencies: [flake8-bugbear]

## Check for misspells in documentation files:
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.4
#   hooks:
#   - id: codespell
