import numpy as np
from ax.service.ax_client import AxClient, ObjectiveProperties
{# from ax.utils.measurement.synthetic_functions import branin #}

{% if custom_gen -%}
from ax.modelbridge.factory import Models
from ax.modelbridge.generation_strategy import GenerationStep, GenerationStrategy
{%- endif %}

{% if existing_data -%}
import pandas as pd
{%- endif %}

obj1_name = "branin"
{% if objective == "multi" -%}
obj2_name = "branin_swapped"
{%- endif %}

def branin{% if objective == "multi" %}_moo{% endif %}(x1, x2{% if categorical %}, c1{% endif %}):
    y = float(
        (x2 - 5.1 / (4 * np.pi**2) * x1**2 + 5.0 / np.pi * x1 - 6.0) ** 2
        + 10 * (1 - 1.0 / (8 * np.pi)) * np.cos(x1)
        + 10
    )
    {% if categorical %}
    # add a made-up penalty based on category
    penalty_lookup = {"A": 1.0, "B": 0.0, "C": 2.0}
    y += penalty_lookup[c1]
    {% endif %}
    {% if objective == "multi" -%}
    # second objective has x1 and x2 swapped
    y2 = float(
        (x1 - 5.1 / (4 * np.pi**2) * x2**2 + 5.0 / np.pi * x2 - 6.0) ** 2
        + 10 * (1 - 1.0 / (8 * np.pi)) * np.cos(x2)
        + 10
    )
    {% if categorical %}
    # add a made-up penalty based on category
    penalty_lookup = {"A": 0.0, "B": 2.0, "C": 1.0}
    y2 += penalty_lookup[c1]
    {% endif %}
    return {obj1_name: y, obj2_name: y2}
    {% else %} {# single objective #}
    return y
    {%- endif %}

{# Set the objective function based on the objective #}
{% if objective == "multi" -%}
    {% set objective_function = "branin_moo" %}
{% else %}
    {% set objective_function = "branin" %}
{%- endif %}

{# add MOO to FULLYBAYESIAN if multi-objective #}
{% if model == "FULLYBAYESIAN" and objective == "multi" -%}
    {% set model_name = model + "MOO" %}
{% else %}
    {% set model_name = model %}
{%- endif %}

{% if existing_data -%} {# categorical inline/repeated because will be clearer to readers #}
# Define the training data
X_train = pd.DataFrame([
    {"x1": -3.0, "x2": 2.0{% if categorical %}, "c1": "A"{% endif %}},
    {"x1": 0.0, "x2": 7.0{% if categorical %}, "c1": "B"{% endif %}},
    {"x1": 3.0, "x2": 5.0{% if categorical %}, "c1": "C"{% endif %}},
    {"x1": 5.0, "x2": 0.0{% if categorical %}, "c1": "A"{% endif %}},
    {"x1": 10.0, "x2": 10.0{% if categorical %}, "c1": "B"{% endif %}}
])

# Define y_train (normally the values would be supplied directly instead of calculating here)
y_train = [{{ objective_function }}(row["x1"], row["x2"]{% if categorical %}, row["c1"]{% endif %}) for _, row in X_train.iterrows()]

{# # Calculate y_train using the objective function (didn't work due to not being able to execute Python code)
y_train = [
    {% for _, row in X_train.iterrows() %}
    {{ objective_function }}(row["x1"], row["x2"]{% if categorical %}, row["c1"]{% endif %}){% if not loop.last %}, {% endif %}
    {% endfor %}
] #}

# Define the number of training examples
n_train = len(X_train)
{%- endif %}

{% if custom_gen -%}
gs = GenerationStrategy(
    steps=[
        GenerationStep(
            model=Models.SOBOL,
            num_trials={{ '3' if dummy else '5' }},
            min_trials_observed=3,
            max_parallelism=5,
            model_kwargs={"seed": 999},
            model_gen_kwargs={},
        ),
        GenerationStep(
            model=Models.{{ model_name }},
            num_trials=-1,
            max_parallelism=3,
            model_kwargs={{ model_kwargs }},
        ),
    ]
)
{%- endif %}

{% if composition_constraint %}
total = 10.0
{% endif %}

ax_client = AxClient({% if custom_gen %}generation_strategy=gs{% endif %})
ax_client.create_experiment(
    parameters=[
        {"name": "x1", "type": "range", "bounds": {% if composition_constraint %}[0.0, 10.0]{% else %}[-5.0, 10.0]{% endif %}},
        {"name": "x2", "type": "range", "bounds": [0.0, 10.0]},
        {% if categorical %}
                {
                    "name": "c1",
                    "type": "choice",
                    "is_ordered": False,
                    "values": ["A", "B", "C"]
                },
        {% endif %}
    ],
    objectives={
        obj1_name: ObjectiveProperties(minimize=True{% if custom_threshold %}, threshold=25.0{% endif %}),
{% if objective == "multi" -%}
        obj2_name: ObjectiveProperties(minimize=True{% if custom_threshold %}, threshold=15.0{% endif %}),
{%- endif %}
    },
{% if constraint %}
    parameter_constraints=[
        {% if sum_constraint %}"x1 + x2 <= 15.0", # example of a sum constraint
        {% endif %}
        {% if composition_constraint %}f"x1 + x2 <= {total}", # example of a reparameterized compositional constraint, which is a type of sum constraint
        {% endif %}
        {% if order_constraint %}"x1 <= x2", # example of an order constraint
        {% endif %}
        {% if linear_constraint %}"1.0*x1 + 0.5*x2 <= 10.0", # example of a linear constraint. Note the lack of space around the asterisks
        {% endif %}
        ],
{% endif %}
)

{% if existing_data -%}
# Add existing data to the AxClient
for i in range(n_train):
    ax_client.attach_trial(X_train.iloc[i].to_dict())
    ax_client.complete_trial(trial_index=i, raw_data=y_train[i])
{%- endif %}

{# 10 because there can be up to 4 parameters which means 8 Sobol + 2 BO, where 2 BO is to accomodate later implementation of batches #}
for _ in range({{ '10' if dummy else '15' }}):
    parameters, trial_index = ax_client.get_next_trial()
    results = {{ objective_function }}(
        parameters["x1"], parameters["x2"]{% if categorical %}, parameters["c1"]{% endif %}
        )
    ax_client.complete_trial(trial_index=trial_index, raw_data=results)

{% if objective == "multi" -%}
pareto_results = ax_client.get_pareto_optimal_parameters()
{% else %}
best_parameters, metrics = ax_client.get_best_parameters()
{%- endif %}


{# CODE GRAVEYARD #}

{# {% if objective == "multi" -%}
obj1_name = "branin"
obj2_name = "neg_branin"

def branin_moo(x1, x2):
    """Multi-objective branin function

    The first objective is the normal branin value and the second
    objective is the negative branin value.
    """
    return {obj1_name: branin(x1, x2), obj2_name: -branin(x1, x2)}
{%- endif %} #}
