<!DOCTYPE html>
<html lang="en">

<head>
    <title>Interactive Grid Example</title>
    <link rel="stylesheet" href="_static/prism/prism.css">
    <link rel="stylesheet" href="_static/honegumi_style.css">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>

<body>
    <!-- Specify the Python environment -->
    <py-env>
        - jinja2
        {# - honegumi #}
    </py-env>

    <!-- Import the external Python file -->
    <py-script src="honegumi_pyscript_helper.py"></py-script>

    <script type="text/javascript">
        var optionRows = {{ jinja_option_rows|tojson }};
        // E.g.,
        // var optionRows = [
        //     { "name": "row1", "options": ["A", "B"] },
        //     { "name": "row2", "options": ["C", "D", "E"] },
        //     { "name": "row3", "options": ["F", "G"] }
        // ];

        var invalidConfigs = {{ invalid_configs|tojson }};
        // E.g.,
        // var invalidConfigs = [
        //     ["B", "D", "F"],
        //     ["B", "E", "F"],
        //     ["A", "C", "G"]
        // ];
    </script>

    <form onsubmit="return false;">
        <div class="title-block">
            <div class="row align-items-center">
                <img src="_static/logo.png" alt="Logo" style="height: 2em; margin-right: 1em; vertical-align: middle;">
                <h2 style="margin-bottom: 0;">Honegumi</h2>
            </div>
        </div>

        {% for row in jinja_option_rows %}
        <div class="row">
            <label class="row-label">{{ row.name }}:</label>
            {% for option in row.options %}
            <input type="radio" id="{{ row.name }}-{{ option }}" name="{{ row.name }}" value="{{ option }}"
                {% if option == row.options[0] %} checked{% endif %} py-click="update_text()">
            <label class="row-option" for="{{ row.name }}-{{ option }}">{{ option }}</label>
            {% endfor %}
            <div class="tooltip-icon">&#9432;
                <span class="tooltip-text arrow">{{ row.tooltip }}</span>
            </div>
        </div>
        {% endfor %}

        <div class="row align-items-end">
            <p id="preamble"></p>
        </div>

        <div class="row">
            <div class="highlight highlight-python notranslate">
                <pre class="language-python" style="width: 102ch; overflow: auto; font-size: 12px;">
                    <code id="text" style="border: none;"></code>
                </pre>
            </div>
        </div>
    </form>

    <script src="_static/prism/prism.js"></script>
</body>

</html>
