ax-platform<1
black
ipykernel
Jinja2
jupytext
myst-parser[linkify]
nbsphinx
pytest
sphinx>=3.2.1
# docutils<0.17 # https://stackoverflow.com/a/74355734/13697228
# sphinx-rtd-dark-mode # honegumi table looks strange due to custom html
sphinx_copybutton
# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx_rtd_theme
# pandoc should be installed with `conda install pandoc`
