input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

form {
    display: inline-flex;
    flex-direction: column;
}

.row {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border: 0px solid #ccc;
}

.row-label {
    display: inline-block;
    padding: 5px;
    background-color: #f2f2f2;
    width: 28ch;
    pointer-events: none;
    cursor: default;
    text-align: left;
    border: none;
    border-left: 3px solid #868686;
    flex-basis: 25.0%;

}

.row-option {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    background-color: #f2f2f2;
    text-align: center;
    flex-basis: 35.0%;
}

input[type="radio"]:checked+label {
    background-color: #b1b1b1;
}

.tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #000;
    cursor: help;
    flex-basis: 3.0%;
    margin: 0px 5px;
    text-align: center;
}

.tooltip:after {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    left: 40px;
    top: -10%;
    text-align: left;
    width: 300px;
    color: #FFF;
    background: #2C2C2C;
    padding: 10px;
    display: none;
}

.tooltip:before {
    content: "";
    background: #2C2C2C;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    top: 25%;
    left: 40px;
    position: absolute;
    margin-left: -5px;
    display: none;
    z-index: 2;
}

.tooltip:hover:after,
.tooltip:hover:before {
    display: block;
}
